html {
  height: 100%;
}

body {
  height: 100%;
  font: 14px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.album-cover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  -webkit-transform: scale(1.1, 1.1);
  transition: all 0.75s ease-out;
}
.album-cover:after {
  content: ' ';
  position: absolute;
  height: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
}
.visible .album-cover {
  opacity: 1;
  -webkit-transform: scale(1.0, 1.0);
}

.album-details {
  position: absolute;
  bottom: 14px;
  right: 14px;
  max-width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  text-align: right;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  font-size: 110%;
  color: rgba(255, 255, 255, 0.85);
  opacity: 0;
  transition: all 0.5s ease-out 0.85s;
}
.visible .album-details {
  opacity: 1;
}

.home-link {
  position: absolute;
  bottom: 14px;
  left: 14px;
  width: 1.75em;
  height: 1.75em;
  text-indent: -5000px;
  background-size: contain;
  background-image: url('/images/user.png');
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.5s ease-out 0.85s, background-image 0.25s linear;
}
.home-link:hover {
  background-image: url('/images/user-selected.png');
}
.visible .home-link {
  opacity: 1;
}
